 <link href="css/custom_alpha.css" rel="stylesheet">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Ruby on Rails Articles App</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to 'about', about_path %>
                    </li>
                    <li>
                        <%= link_to 'articles', articles_path %>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Article Portfolio</h1>
</nav>



<div class="btn btn-primary">
  <%= link_to "Create new article", new_article_path, :class => "btn btn-primary" %> 
</div>
<table class="table table-hover">
    
   

  <thead>
    <tr>
        <caption><h3>Articles</h3></caption>
      <th>Article Title</th>
      <th>Article description</th>
      <th>Show Article</th>
      <th>Edit Article</th>
      <th>Delete Article</th>
    </tr>
  </thead>
  <tbody>
       <%@articles.each do |article|%>
    <tr>
        
      
       <td><%= article.title%></td>
        <td><%= article.description%></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
             <td><%= link_to 'Show', article_path(article) %></td>
             <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
      
       <% end %>
   
  </tbody>
</table>
